---
layout: base
permalink: /
---

<div class="text-center">
    <img src="/assets/hero.png" alt="hero" style="max-height:280px;" class="mx-auto my-5">
    <h1 class="text-5xl font-bold mb-5">Animals and Amplifiers</h1>
    <p class="text-gray-800 text-lg mb-5">An exploration of our human nature and our superhuman tools</p>
    <a href="/blog.html" class="bg-blue-700 text-white py-4 px-6 rounded font-semibold hover:bg-blue-600 inline-block mx-auto">Start Reading</a>
</div>