<!doctype html>
<html lang="en-US" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">

    {% include head.html %}
  </head>
  
  <body class="font-sans h-full flex flex-col">
    {% include navigation.html %}
    <main class="container mx-auto p-4" style="flex:1 0 auto;">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
